<!DOCTYPE html>
{% load static %}
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ثبت‌نام</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <style>
        button[type="submit"] {
            font-size: 18px;
            font-family: 'Estedad';
        }
        span {
            font-weight: bold;
        }
        input {
            font-family: 'Estedad';
        }
    </style>
</head>
<body class="light-mode">
    <nav class="navbar">
        <ul>
            <li>
                <span class="theme-switch">
                    <span>تغییر تم</span>
                    <label class="switch">
                        <input type="checkbox" id="theme-switch">
                        <span class="slider"></span>
                    </label>
                </span>
            </li>
            <li>
                <a href="{% url 'login' %}">
                    <button id="back-button">
                        <img src="{% static 'images/right-arrow.png' %}" alt="back-button" class="icon">
                    </button>
                </a>
            </li>
        </ul>
    </nav>
    <main>
        <div class="container">
            <h1>ثبت‌نام</h1>
            <form id="signup-form" method="POST" action="{% url 'register' %}">
                {% csrf_token %}
                <label for="username">نام کاربری:</label>
                <input type="text" id="username" name="username" placeholder="نام کاربری خود را وارد کنید" required>

                <label for="email">ایمیل:</label>
                <input type="email" id="email" name="email" placeholder="ایمیل خود را وارد کنید" required>

                <label for="password">رمز عبور:</label>
                <input type="password" minlength="8" id="password" name="password1" placeholder="رمز عبور خود را وارد کنید" required>

                <label for="password2">تکرار رمز عبور:</label>
                <input type="password" minlength="8" id="password2" name="password2" placeholder="رمز عبور خود را دوباره وارد کنید" required>

                <!-- CAPTCHA Section -->
                <div class="captcha-container">
                    <label id="CAPTCHA">کپچا:</label>
                    <div class="captcha-code" id="captchaCode">{{ captcha }}</div>
                    <span class="captcha-refresh" onclick="generateCaptcha()">↻</span>
                </div>
                <br>
                <input type="text" id="captchaInput" placeholder="کد بالا را وارد کنید" required>
                <br>
                <button type="submit" class="btn">ثبت‌نام</button>
            </form>
            <br>
            <hr>
            <div class="links">
                <p>حساب کاربری دارید؟ <a href="{% url 'login' %}">وارد شوید</a></p>
            </div>
        </div>
    </main>
    <script src="{% static 'js/theme.js' %}"></script>
    <script src="{% static 'js/signup.js' %}"></script>
</body>
</html>
